@import './variables.scss';

#qr-container {
  height: 100%;
  #qr-code {
    width: 200px;
    margin: 0 auto;
    background: $color-primary;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    position: relative;
    border-radius: 50%;
    padding: 15px;
    top: 50%;
    canvas {
      margin: 0 auto;
    }
  }
}

#customer-view {
  background: $color-bcg;
  .button-circle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    bottom: 60px;
    display: block;
    position: absolute;
    span {
      display: none;
    }
  }

  #button-discover {
    // background: #EF4136;
    left: 35px;
    svg {
      fill: #EF4136;
    }
  }

  #button-mystores {
    // background: #FBB040;
    right: 35px;
    svg {
      fill: #FBB040;
    }
  }
}
