@import './variables.scss';

#login-view {
  text-align: center;
  height: 100%;
  .pure-button {
    width: 100%;
  }
  input {
    width: 100%;
  }
  #logo {
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    img {
      width: 100%;
    }
  }
}


.login-box {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#customer-box {
  padding-top: 60px;
  height: 50%;
  padding-bottom: 10%;
  background: lighten($color-primary, 20%) url('/images/zigzag_bcg.png') bottom center no-repeat;
}

#business-box {
  height: 40%;
  margin-top: -10%;
  background: #fff;
}

.login-circle-button {
  border-radius: 50%;
  display: inline-block;
  width: 80px;
  height: 80px;
  padding: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  span {
    font-size: 14px;
    color: #fff;
  }
}

#customer-button {
  background: $color-primary;
}

#business-button {
  background: $color-business;
}

.login-form {
  margin: 0 35px;
  padding: 25px;
  text-align: left;
  display: block;
  border-radius: 4px;
}
