@import './variables.scss';

.hidden {
  display: none;
}

html, body, #root {
  & > div {
    height: 100%;
  }
  height: 100%;
}

.full-height-parent {
  height: 100%;
}

h1 {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: light;
  color: $color-grey;
}

.pure-button-primary {
  background: $color-primary;
}
