@import './variables.scss';

#mystores-view {
  padding: 25px;
  background: $color-bcg;
}

.store-card {
  background: #fff;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 10px;
  position: relative;
  .thumbnail {
    width: 25px;
    margin-bottom: 10px;
  }
  .small {
    font-size: 11px;
    margin-top: 5px;
    color: lighten($color-grey, 15%);
  }
  img {
    float: left;
    margin-right: 5px;
  }
  .count-circle {
    bottom: 7px;
    right: 7px;
    position: absolute;
    text-align: center;
    line-height: 30px;
    background: $color-primary;
    color: #fff;
    border-radius: 50%;
    padding: 2px;
    font-size: 11px;
    width: 30px;
    height: 30px;
  }
  .icons-stamps {
    margin-top: 8px;
    max-width: 85%;
  }
  .stamp-icon {
    display: inline-block;
    width: 25px;
    position: relative;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  .stamp-icon.empty {
    opacity: 0.2;
  }
}
